@font-face {
  font-display: block;
  font-family: "vollkorn";
  src: url("/fonts/vollkorn/Medium.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "vollkorn";
  font-weight: 700;
  src: url("/fonts/vollkorn/Bold.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "apple";
  src: url("/fonts/homemade_apple/homemadeapple-regular.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "cedar";
  src: url("/fonts/cedarville-cursive/cedarvillecursive-regular.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "dance";
  src: url("/fonts/dancing-script/dancingscript-variablefont-wght.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: "lato";
  src: url("/fonts/lato/Lato-Regular.woff2") format("woff2");
}
